[submodule "ros_docker"]
	path = ros_docker
	url = git@github.com:brow1633/ros_docker.git
[submodule "src/oscar_ros"]
	path = src/oscar_ros
	url = git@github.com:brow1633/oscar_ros.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
[submodule "src/oscar_hardware_intf"]
	path = src/oscar_hardware_intf
	url = git@github.com:brow1633/oscar_hardware_intf.git
[submodule "src/oscar_ros_msgs"]
	path = src/oscar_ros_msgs
	url = git@github.com:brow1633/oscar_ros_msgs.git
